{% url 'home' as path_to_home %}
{% url 'post:post-view' as path_to_post %}
{% url 'Profile:my-profile' as path_to_my_profile %}
{% url 'Profile:my-invites-view' as path_to_my_invites_view %}
{% url 'Profile:to-invite-lists-view' as path_to_invite_lists_view %}
{% url 'Profile:send-invite' as path_to_send_invite %}
{% url 'Profile:profiles-lists-view' as path_to_profiles_lists_view %}





<nav class="navbar navbar-expand-lg navbar-light">
{% if request.user.is_authenticated %}
  <a class="{% if request.path == path_to_home %}active{% endif %} navbar-brand" href="{{path_to_home}}">How<b>&nbspd'you do...</b></a>
{% endif %}
<!--  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <div class="navbar-nav">
      {% if request.user.is_authenticated %}
      <a class="{% if request.path == path_to_post %}active{% endif %} nav-item nav-link" href="{{path_to_post}}">Home</a>
      {% endif %}
      {% if request.user.is_authenticated %}
      <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} nav-item nav-link">Profile</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">Followers</a>
        <div class="dropdown-menu">
          <a href="{{path_to_profiles_lists_view}}" class="{% if request.path == path_to_profiles_lists_view %}active{% endif %} dropdown-item">All Profiles</a>
          <a href="{{path_to_my_invites_view}}" class="{% if request.path == path_to_my_invites_view %}active{% endif %} dropdown-item">Request &nbsp;{{invites_num}}</a>
          <a href="{{path_to_invite_lists_view}}" class="{% if request.path == path_to_invite_lists_view %}active{% endif %} dropdown-item">Follow</a>
<!--          <a href="#" class="dropdown-item"></a>-->
        </div>
      </div>
      <div class="navbar-nav lg-auto">
        <div class="navbar-form-wrapper">
          <form class="navbar-form form-inline">
            <div class="input-group search-box">
              <input type="text" id="search" class="form-control" placeholder="Search Here...">
              <div class="input-group-append">
                <span class="input-group-text">
                 <button type="submit" class="sub_btn" style="outline: none"><i class="material-icons fa fa-search">&#xE8B6;</i></button>
                </span>
              </div>
            </div>
          </form>
        </div>
        <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} nav-item nav-link"><img src={{picture.url}} class="profileImg">&nbsp;{{request.user}}</a>

      </div>
      <a href="{% url 'account_logout'%}" class="nav-item nav-link  blog_link">Logout</a>
      {% else %}
        <a href="{% url 'account_login'%}" class="nav-item nav-link  blog_link login">Login</a>

      {% endif %}
    </div>

  </div>
</nav>
